html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url(https://d682ma8ami8n4.cloudfront.net/images/TuringSchool_LogoMark_Gray.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.App {
  text-align: center;
}

h1,
h2 {
  background-color: rgba(220, 220, 220, 0.95);
  padding: 10px;
  color: rgb(253, 161, 56);
}
